@tailwind base;
@tailwind components;
@tailwind utilities;

.tc {
    /* background: rgba(18, 11, 72, 1); */
    color: rgba(18, 11, 72, 1);

}

body {
  
    font-family: 'Sora', sans-serif;
    @apply bg-slate-100;
    
    
    min-height: 100vh;
}
.tcb {
   
    background-color: rgba(18, 11, 72, 1);

}

.btn {
    background-color:rgba(18, 11, 72, 1) ;
    
}

.t {
    top: .5rem;
}

.t2 {
    top: 3rem;
}

